<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset = "UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Home | Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class ="flex-column min-100-vh" id="navigationLinks">
<div class="background"> 

  
   <nav>
      <ul>
        <li class="navigation-links"> 
           <a href="/">Home</a>
        </li>

        <li class="navigation-links">
           <a href="/dashboard">Dashboard</a>
        </li>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
          <li class="navigation-links"> 
            <button class="no-button" id="logout">
              Logout</button>
          </li>
       
        {{else}} <!-- Render script for logged out users only -->
          <li class="navigation-links"> 
            <a href="/login">Login</a>
          </li>
        {{/if}}
  
      </ul>
    </nav>

  
  
  <header class = "changingTitle"> 
    <h1 class = "regular-title">
     <a href="#Main">The Tech Blog</a>
    </h1>
  </header>
  </div>

  <main class="col-auto">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>
  <footer>
  </footer>

 <!-- Render script for logged in users only -->
{{#if logged_in}}
     <script src="/Public/js/logout.js"></script>
  {{/if}}

</body>
</html>





