<!DOCTYPE html>
<html lang="en">
<section class="sub-header" id="websiteTitle">
    <h2>Your Dashboard</h2>
</section>
<div class="row">
  <div class="column-1">
    <div class="row">
        <section class="previous-posts" id="previouspostsPage">
            <button class="btn btn-primary btn-lg" id="posts" type="button"></button>   
        </section>
    </div>
  </div>
</div> 

.




<section class="create-new-post-card" id="dashboardPage" style="display: none;"> 
    <section class = "create-new-post-card-body" id="bodyofdashboardPage">
        <div class="row">
            <div class="column-1">
                <div class="row">
                    <div class="text-center">
                        <h1 class="createnewpostTitle" id="createnewpostTitle">Create New Post
                        </h1>
                        <form class="form signup-form">
                                <div class="form-group"> 
                                    <label for="title">Title</label>
                                    <input class="form-input" type="text" id="title-input" />

                                    <label for="content">Content</label>
                                    <input class="form-input" type="text" id="content-input" />


                                    <button class="btn btn-primary btn-lg" id="createButton" type="submit">Create</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


<footer>
    <button class="btn btn-primary btn-lg" id="addNewPostButton">+ New Post!</button>
</footer>
</html>
