



<div class="login-card" id="loginPage">
    <div class="login-card-body" id="bodyofLoginPage">
        <div class="row">
            <div class="column-1">
            
                    <div class="text-center">
                        <h2 class="loginTitle" id="loginTitle">Login</h2>
                       
                       
                        <form class="form login-form">

                            <div class="form-group">
                                <label class="form-username" for="username-login">Username:</label>
                                <input class="form-input" type="text" id="username-login" />
                           </div>

                            <div class="form-group"> 
                                <label class="form-password" for="password-login">Password:</label>
                                <input class="form-input" type="password" id="password-login" />
                            </div>

                            <div class="form-group"> 
                                <button class="btn btn-primary btn-lg" id="loginButton" type="submit">Login!</button>
                            </div>
                         </form>


                        <form class="form signup-form"> 
                        
                        <button class="btn btn-primary btn-lg" id="signupInstead" type="click">
                            <a href="/signup"> Sign up instead</a>
                        </button>
                       
                        </form>


                    </div>
                
            </div>
        </div>
    </div>
</div>

<script src="/Public/js/login.js"></script>







