<!DOCTYPE html>              *TO_DO: add sign up page and no display to here THEN add click events to js 
<html lang="en">
<!--  <link rel="stylesheet" href="./css/loginpage.css"> -->
<script src="./js/login.js"></script>   
<section class="sub-header" id="websiteTitle">
    <h2>The Tech Blog</h2>
</section>

<section class="login-card" id="loginPage">
    <section class="login-card-body" id="bodyofLoginPage">
        <div class="row">
            <div class="column-1">
                <div class="row">
                    <div class="text-center">
                        <h1 class="loginTitle" id="loginTitle">Login</h1>
                        <form class="form login-form">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input class="form-input" type="text" id="username-input" />

                                <label for="password">Password</label>
                                <input class="form-input" type="password" id="password-input" />


                                <button class="btn btn-primary btn-lg" id="loginButton" type="submit">Login!</button>
                            </div>
                        </form>
                        <button class="btn btn-primary btn-lg" id="signupButton">Sign up instead</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
.



<section class="signup-card" id="signupPage" style="display: none;"> 
    <section class = "signup-card-body" id="bodyofSignupPage">
        <div class="row">
            <div class="column-1">
                <div class="row">
                     <div class="text-center">
                            <h1 class="signupTitle" id="signupTitle">Sign Up    
                            </h1>
                            <form class="form signup-form">
                                <div class="form-group"> 
                                    <label for="username">Username</label>
                                    <input class="form-input" type="text" id="username-input" />

                                    <label for="password">Password</label>
                                    <input class="form-input" type="password" id="password-input" />


                                    <button class="btn btn-primary btn-lg" id="signupButton" type="submit">Sign Up!</button>
                                </div>
                            </form>
                            <button class= "btn btn-primary btn-lg" id="loginButton"> Login instead</button>
                     </div>
                </div> 
            </div>
        </div>
    </section>
</section>

</html>