
<section class="sub-header" id="websiteTitle">
    <h2>The Tech Blog</h2>
</section>

<section class="signup-card" id="signupPage" style="display:none;"> 
    <section class = "signup-card-body" id="bodyofSignupPage">
        <div class="row">
            <div class="column-1">
                <div class="row">
                     <div class="text-center">

                            <h2 class="signupTitle" id="signupTitle">Sign Up    
                            </h2>

                            <form class="signup-form">

                                <div class="form-group">                                     
                                    <label class="form-username">Username</label>
                                    <input class="form-input" type="text" id="username-signup" />

                                    <label class="form-password">Password</label>
                                    <input class="form-input" type="password" id="password-signup" />


                                    <button class="btn btn-primary btn-lg" id="signupButton" type="submit">Sign Up!</button>
                                </div>
                            

                            
                            <button class= "btn btn-primary btn-lg" id="loginInstead" type="click"> 
                                <a href="/login"> Login instead</a>
                                </button>
                            </form>
                     </div>
                </div> 
            </div>
        </div>
    </section>
</section>
<script src="/js/signup.js"></script>


