:root{
  --primary: #a7ccb4;
  --secondary: #c0dbd3;
  --tertiary: #676f6f;
  --light-dark: #5f5856;
  --dark: #0b0908;
  --border-radius: 0.5rem;
}

*{box-sizing:border-box;}
  
  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 2;
    font-size: 15px;
  }
  
  header {
   margin: top 60px;
    font-weight:600;
    color:var(--dark);
    margin:0%;
    line-height: 1.5;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%
    
  }

  .background{
    background-color: var(--dark);
    line-height: 4;
  }
 
  .nav{
list-style: none;


  }

  .navigation-links{
    display:inline-block;
    padding: 0px 20px;
    background: #050505;
  -webkit-text-fill-color: var(--primary);
  font-size: large;
    
  }

  .changingTitle{
    padding: 0px 80px;
    display:inline-block;
  }

  .navigation-links a{
    transition: all 0.3s ease 0s;
    
  }

  .navigation-links a:hover{
  color:#0088a9;
  }

  button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1), green, blue, alpha;
    border:none;
    border-radius:50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
  }

  button:hover{
    background-color: rgba(0,136,169,0.8);
    ;
  }

  




  /* 
  .navigation-links{
    display: flex;
 
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  background: #050505;
  -webkit-text-fill-color: var(--primary);
  }
  nav li {
    display: inline-block;
    padding: 5px 5px;
 }
 
 nav a {
   font-weight: normal;
   padding: 10px 5px;
   font-size: .80em;
 }*/

  h2,h4{
    color:#030303
  }

  
  main {
margin:17px auto;
width:95%
  }
  
  p{
    font-size: 1.25rem;
  }  
.changingTitle{
  max-width: 75%;
}

.regular-title{
  display:inline-block;
  padding:0 8 px;
  border-radius: var(--border-radius);
  box-shadow: 5px 6px var(--light-dark);
  color: var(--dark);
  background-color: var(--primary);
  font-size: 3rem;
}

.regular-title a {
  color: var(--dark);
}


  .btn-inline{
    display:inline;
  }

  .btn:hover{
    color:var(--primary);
    box-shadow: 3px 4px var(--dark);
    background-color: var(--tertiary);
    cursor: 
    translate(0,0);
  }

  .card {
    border:3px #0b0908;
    border-radius:var(--border-radius);
    margin: 0 0 19px 0;
  }
  .card-header{
    color:var(--primary)
  }
  .cardy-body{
    padding: 2%;
    color:var(--primary);
    background-color: var(--dark);
    margin:11px;
    font-size: 1.5rem;
  }
  .card-header{
    padding:1%;
    border-radius:calc(0.15rem-1px) calc(0.15rem-1px) 0 0;
    color:var(--primary);
    background-color:var(--dark);
  }

  /* FLEX */
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .justify-space-between {
    justify-content: space-between;
  }
  
  .justify-space-around {
    justify-content: space-around;
  }
  
  .justify-flex-start {
    justify-content: flex-start;
  }
  
  .justify-flex-end {
    justify-content: flex-end;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .align-stretch {
    align-items: stretch;
  }
  
  .align-end {
    align-items: flex-end;
  }
  
  .align-center {
    align-items: center;
  }
  
  .col-auto {
    flex-grow: 1;
  }
  
  .col-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  
  .col-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  
  .col-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  
  .col-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  
  .col-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  
  .col-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  
  .col-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  
  .col-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  
  .col-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  
  .col-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  
  .col-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  
  .col-12 {
    flex: 0 0 100%;
  }
  
  /* col-sm */
  @media screen and (min-width: 640px) {
    .col-sm-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-sm-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-sm-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-sm-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-sm-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-sm-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-sm-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-sm-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-sm-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-sm-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-sm-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-sm-12 {
      flex: 0 0 100%;
    }
  }
  
  /* col-md */
  @media screen and (min-width: 768px) {
    .col-md-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-md-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-md-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-md-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-md-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-md-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-md-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-md-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-md-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-md-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-md-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-md-12 {
      flex: 0 0 100%;
    }
  }
  
  /* col-lg */
  @media screen and (min-width: 992px) {
    .col-lg-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-lg-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-lg-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-lg-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-lg-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-lg-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-lg-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-lg-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-lg-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-lg-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-lg-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-lg-12 {
      flex: 0 0 100%;
    }
  }
  
  /* col-xl */
  @media screen and (min-width: 1200px) {
    .col-xl-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-xl-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-xl-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-xl-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-xl-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-xl-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-xl-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-xl-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-xl-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-xl-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-xl-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-xl-12 {
      flex: 0 0 100%;
    }
  }

  input{
    width:100%;
    padding:12px;
    background:white;
    border:2px solid rgb(184, 181, 181);
    margin: 0 0 6px;
  }

  /* FONT UTILS */
  .text-uppercase{
    text-transform: uppercase;
  }

  .li-inline{
    display: inline;
  }

  .navbar{
    width:100%;
    position: fixed;
    background-color: var(--dark);

  }

  .nav-item{
    margin:0 35px;
    color: var(--primary);
  }

  .footer{
background-color: var(--dark);
margin-bottom: 1em;
padding:1.5em;
border-radius: var(--border-radius);
color: var(--primary);
text-decoration: none;
display: inline-block;
  }

  .list-group{
    padding:1%;
  }

  .list-item{
    margin-bottom: 8px;
    padding:1%;
    background-color: var(--light-dark);
    color: var(--primary);
    text-decoration: none;
    border-radius: var(--border-radius);
    }
  
    .list-item:hover{
      background-color: var(--dark);
    }

    /* HEIGHT / WIDTH UTILS */
    .min-100-vh{
      min-height:100vh;
    }
    .min-100-vw{
      min-width:100vw;
    }


    /* FORM */
    .form-input{
      padding: 1%;
      width: 100%;
      margin: 5px 0;
      border: 2px solid var(--light-dark);
      border-radius: var(--border-radius);
      font-size: 1.3rem;
    }

    .form-label{
      font-size: 1.2rem;
      margin: 0 0 0 5px;
    }

    .form-textarea,
    .form-input,
    .form-label{
      display: block;
    }

